@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-size: 15px !important;
  font-family: "Montserrat", sans-serif !important;
  /* background: linear-gradient(to left, #fdfbfb, #dad8d8); */
  /* background: #dad8d8; */
  font-weight: bold;
}

.header {
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
}

.contenido {
  font-weight: bold;
  padding: 0.5%;
}

.logoMuni {
  border-radius: 50%;
}

.cabeceraFormulario {
  border-bottom: solid 2px rgb(208, 207, 207);
}

.fa-question-circle {
  font-size: 15px !important;
  color: red;
}

.btnAyuda {
  background: none;
  border: none;
  /* border: solid 1px red; */
  /* padding: 0px; */
  font-weight: bold;
  /* border-radius: 100%; */
  float: right;
  margin-top: 15px !important;
  color: rgb(235, 43, 43);
  /* padding-bottom: 3px !important; */
  /* text-decoration: underline; */
}

.CampoObligatorio {
  color: rgb(235, 43, 43);
  font-size: 10px !important;
  font-weight: bold !important;
}

.btnSubmitForm {
  display: scroll;
  position: fixed;
  bottom: 98px;
  right: 15px;
  border: solid 1px white !important;
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 50%;
  background: #07432c;
}

.btnSubmitForm:hover{
  box-shadow: 0px 0px 10px #07432c;
  color: #07432c;
  background: white;
  border: solid 1px #07432c;
}

.contBoton{
  display: scroll;
  position: relative;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  /* padding: 10px 20px; */
  font-size: 30px;
  /* border-radius: 50%; */
}
