@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* background: linear-gradient(to bottom, #0b3857, #054b79); */

:root{
  --fuente: 'Montserrat', sans-serif;

  --silver-0: #2C2C2C;
  --silver-1: #4F4F4F;
  --silver-2: #717171;
  --silver-3: #929292;
  --silver-4: #c5c5c5;
  --silver-5: #f2f1f6;


  --blue-0: #114063;
  --blue-1: #0b3857;
  --blue-2: #0977c0;



  --green-0: #10393B;
  --green-1: #0b5457;
  --green-2: #166E72;
  --green-3: #278F93;
  --green-4: #43ACB0;
  --green-5: #70EFF7;
}

/* ////////////// SOLCIITUDES HABILITACION ////////////// */
.HC_tablaResultadoFiltroPartida{
  border: solid 1px #ebebeb !important;
  box-shadow: 0px 0px 10px #e9e9e9 !important;
  border-collapse: collapse !important;
}

.HC_tablaResultadoFiltroPartida th{
  background: #0b3857 !important;
  font-size: 12px !important;
  color:#ebebeb !important;
}

.HC_tablaResultadoFiltroPartida td{
  font-size: 12px !important;
}

/* ////////////// FORMULARIO NUEVA SOLICITUD 1,2,3 ////////////// */
.HC_btnGuardarSolicitud {
  font-size: 8px !important;
  width: 60px !important;
  height: 39px !important;
}

/* ////////////// LISTADO SOLICITUDES ////////////// */

.HC_botonGlobal{
  text-decoration: none !important;
  background: #114063 !important;
  border-radius: 3px !important;
  color: white !important;
  margin: 0px !important;
  box-shadow: 0px 2px 6px #9b9b9b !important;
}

.HC_botonGlobal:focus {
  /* box-shadow: none !important; */
  background:#1b68a3 !important;
}

.HC_BTNuevoTramiteFloat{
  text-decoration: none !important;
  background: #2d95e4 !important;
  border-radius: 5px !important;
  /* padding: 15px 17px !important; */
  color: white !important;
  font-size: 8px !important;
  border: none !important;
  /* box-shadow: 0px 2px 6px #9b9b9b !important; */
  position: fixed !important;
	bottom: 5px !important;
	right: 10px !important;
}

.HC_BTNuevoTramiteFloat:focus{
  background: #114063 !important;
}

.HC_NuevaSolicitud{
  width: 80% !important;
  background: #114063 !important;
  color: white !important;
  border: none !important;
  padding: 7px  !important;
  border-radius: 5px !important;
  font-weight: bolder !important;
  font-size: 15px !important;
}

.HC_NuevaSolicitud:focus{
  background: #1b5989 !important;
}

.TarjetaComercio{
  border:none !important; 
  border-radius: 5px !important;
}

#CabeceraComercio{
  background: #114063 !important;
  color: white !important;
  font-size: 10px !important;
  text-align: center !important;
}

.HC_TituloDato{
  color: #0977c0 !important;
}

.datoComercio{
  font-size: 13px !important;
  width: 100% !important;
  font-weight: bold !important;
  text-align: left !important;
}

#tituloModal{
  padding: 5px 10px !important;
  border: none !important;
  /* background: #eeeeee !important; */
}

#tituloModal h5{
  margin: 0px !important;
  padding: 3px !important;
}
.gris{
  background: #f7f7f7 !important;
}

.Hc_TituloPrincipal{
  font-size: 18px !important;
}

.Hc_TituloSecundario{
  font-size: 13px !important;
  color: #2b2b2b !important;
}

.Hc_MensajeDevolucion {
  margin-top: 3px !important;
  margin-bottom: 5px !important;
  color: black !important;
  font-size: 13px !important;
  border: none !important;
  background: #eecb05 !important;
  float: right !important;
  width: 47% !important;
  font-weight: bold !important;
  border-radius: 3px !important;
}

.Hc_MensajeDevolucion:hover {
  background: #c2a91c !important;
}

.Hc_BtnImprimir {
  margin-top: 3px !important;
  margin-bottom: 5px !important;
  color: white !important;
  font-size: 13px !important;
  border: none !important;
  background: #0b3857 !important;
  float: left !important;
  width: 50% !important;
  border-radius: 3px !important;
  font-weight: bold !important;
}

.Hc_BtnImprimir:hover {
  background: #1368a0 !important;
}

.Hc_MotivoRechazo{
  background: none !important;
  border: solid 1px #dbdbdb !important;
}

.tituloHC {
  font-size: 10px !important;
}

.select2-container {
  margin-right: 0px !important;
  color: #444 !important;
}

.select2-container .select2-selection--single {
  padding: 3.5px !important;
}

.ContenedorComprobante {
  border: solid 1px #999 !important;
  border-radius: 3px !important;
  width: 100% !important;
}

.CampoObligatorio {
  font-size: 13px !important;
  color: red !important;
}

body .clearfix:after {
  content: "";
  display: table;
  clear: both;
  width: 90%;
}

.logo {
  width: 75px !important;
  height: 80px !important;
}

.logo2 {
  width: 95px;
  height: 80px;
  float: right;
  vertical-align: middle;
}

header .company-info .title {
  color: #2A8EAC;
  font-weight: bold;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

header figure {
  float: left;
  width: 40px;
  margin-right: 30px;
}

header figure img {
  height: 40px;
}

.fechas {
  background-color: #2A8EAC;
  color: #fff;
  padding: 5px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  font-size: 10px !important;
}

.inforComercio {
  font-weight: bold !important;
  padding: 5px !important;
  background-color: #ebebeb;
  text-transform: uppercase !important;
  font-size: 10px !important;
}

.disNone {
  display: none !important;
}

.negro {
  color: black !important;
}

.pie {
  /* display: none !important; */
  margin-bottom: 40px !important;
}

.navegar {
  display: none !important;
}

.BotonVolver {
  float: left !important;
  /* margin-top: 5px !important; */
  color: white !important;
  background: #0b3857 !important;
}

@media(max-width: 750px) {
  .ContenedorComprobante {
      width: 100% !important;
  }

  body .clearfix:after {
      content: "";
      display: table;
      clear: both;
      width: 90%;
  }

  .logo {
      width: 45px !important;
      height: 40px !important;
  }

  .logo2 {
      width: 30px;
      height: 40px;
      float: right;
      vertical-align: middle;
  }

  header .company-info .title {
      color: #2A8EAC;
      font-weight: 600;
      font-size: 10px !important;
      margin-left: 20px !important;
      /* font-size: 1.5em !important; */
  }

  header .company-info .line {
      display: inline-block;
      height: 9px;
      margin: 0 4px;
      border-left: 1px solid #2A8EAC;
  }

  header figure {
      float: left;
      width: 20px;
      margin-right: 5px;
  }

  header figure img {
      height: 20px;
  }
}

.fondoNegro {
  background: #333 !important;
  color: white !important;
}

.colorNegro {
  color: #333 !important;
}

