@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    margin: 0;
    padding: 0;
    background: #ebebeb;
    font-family: "Montserrat", sans-serif !important;
}
.top {
    background-size: cover !important;
    width: 100% !important;
    padding: 70px 20px;
    font-size: 13px;
    color: white;
    font-weight: bold !important;
    transition: .3s ease all !important;
}

.top span{
    font-size: 13px !important;
    text-align: left !important;
}


 .campo {
    position: relative;
}

.campo i {
    font-size: 20px !important;
    position: absolute;
    right: 5px;
    top: 20px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 2px 10px;
    background-color:transparent !important;
    color: #575757 !important;
}

.cuerpo {
    padding: 10px 20px;
    transition: .3s ease all !important;
    width: 30%;
    align-items: center;
}

.cuerpo h6 {
    width: 100%;
    color: black;
    font-weight: bold;
    text-align: center !important;
    transition: .3s ease all !important;
}

.cuerpo .form-control {
    background: #dcdcdc !important;
    border: none !important;
    border-bottom: solid 1px #707070 !important;
    /* border-radius: 0px !important; */
    transition: .3s ease all !important;

}

.cuerpo .form-control:focus {
    border-bottom: solid 2px #3a67ab !important;
    box-shadow: none !important;
    outline: none;
    border-radius: 0px 5px 0px 0px !important;
    /* transition: .3s ease all !important; */
}

form .btn {
    background: #3a67ab !important;
    color: white !important;
    border-radius: 2px !important;
    box-shadow: 0px 1px 3px #686868 !important;
}

form .btn:focus {
    background: #0b3857 !important;
    box-shadow: none;
}

.restorePass {
    width: 100% !important;
    text-align: center !important;
    color: #34b8c7 !important;
    font-weight: bold !important;
    text-decoration: underline !important;
}

.regis {
    width: 100% !important;
    text-align: center !important;
    color: #0b3857 !important;
    font-weight: bold !important;
    text-decoration: underline !important;
}

.pie {
    width: 100% !important;
    /* background: #3a67ab !important; */
    bottom: 0;
    left: 0;
    position: fixed;
    padding: 0px 0px;
}

.pie img{
    width: 60px;
    height: 60px;
}

/* @media (max-width: 320px) {
    .pie img{
        width: 40px;
        height: 40px;
    } 
    .pie{
       display: none !important;
    }
}*/

@media (max-width: 560px) {
    .cuerpo {
        padding: 10px 20px;
        transition: .3s ease all !important;
        width: 100% !important;
        align-items: center;
    }
} 