	html, body, p {
		font-size: 15px;
	}
	.thanks{
		font-size: 15px;
	}
	.quitarBtn{
		display: none;
	}
	.logo{
		width:75px;
		height: 80px;
	}
	.colorFondo{
		background-color: #fff;
	}
	.logo2{
		width: 70px;
		height: 80px;
		float: right;
		vertical-align: middle;
	}
	.logoBAJO{
		width: 45PX;
		height: 55PX;
		align-content: center;
	}

	q, blockquote {
		quotes: none;
	}
	q:before, q:after, blockquote:before, blockquote:after {
		content: "";
		content: none;
	}

	a img {
		border: none;
	}

	article, aside, details,figure, footer, section{
		display: block;
	}
	body {
		font-weight: 300;
		padding: 0;
		margin: 0;	
		color: #777777;
	}
	body .container {
		min-width: 70%;
	}
	body .clearfix:after {
		content: "";
		display: table;
		clear: both;
		width:90%;
	}
	body .left {
		float: left;
	}
	body .right {
		float: right;
	}
	body .helper {
		height: 100%;
	}

	header {
		height: 40px;
		margin-bottom: 40px;
		padding: 0px 5px 0;
	}
	header figure {
		float: left;
		width: 40px;
		margin-right: 10px;
	}
	header figure img {
		height: 40px;
	}
	header .company-info {
		color: #BDB9B9;
		margin-left:15px;
	}
	header .company-info .title {
		color: #2A8EAC;
		font-weight: 600;
		font-size: 1.5em;
	}
	header .company-info .line {
		display: inline-block;
		height: 9px;
		margin: 0 4px;
		border-left: 1px solid #2A8EAC;
	}
	.linea{
		display: inline-block;
		width: 300px;
		margin: 4px 0;
		border-bottom: 1px solid #2A8EAC;
	}
	section .details {
		min-width: 500px;
		margin-bottom: 40px;
		padding: 10px 35px;
		background-color: #2A8EAC;
		color: #ffffff;
	}
	
	footer .end {
		padding-top: 5px;
		border-top: 2px dashed #2A8EAC;
		text-align: center;
	}
	.left{
		float: left;
	}
	.right{
		float: right;
	}
	.espacio{
		min-height: 260px
	}
	.espacio2{
		height: 70px
	}
	.sangria{
		text-indent: 239px;
	}
	 table, td, .tramiteSol{
  	padding-right: 250px;
  }
	@media(max-width: 750px){
		body .container {
			min-width: 300px;
			padding: 0 30px;
		}
		body .clearfix:after {
			content: "";
			display: table;
			clear: both;
			width:90%;
		}
		body .left {
			float: left;
		}
		body .right {
			float: right;
		}
		body .helper {
			height: 100%;
		}
		html, body, p {
			font-size: 10px;
		}
		body {
			color: #777777;

		}
		header {
			height: 20px;
			margin-bottom: 20px;
			padding: 0px 2px 50px;
		}
		header figure {
			float: left;
			width: 20px;
			margin-right: 5px;
		}
		header figure img {
			height: 20px;
		}
		header .company-info {
			color: #BDB9B9;
			font-size: 10px;
		}
		header .company-info .title {
			color: #2A8EAC;
			font-weight: 300;
			font-size: 10px;
			margin-left: 15px;
			margin-right: 15px;
			padding-left: 20px;
			padding-right: 20px;
		}
		header .company-info .line {
			display: inline-block;
			height: 4px;
			margin: 2px 2px;
			border-left: 1px solid #2A8EAC;
		}
		section .details {
			font-size: 10px;
			min-width: 250px;
			margin-bottom: 20px;
			padding: 2px 5px;
			background-color: #2A8EAC;
			color: #ffffff;
		}
		
		footer .end {
			padding-top: 2px;
			border-top: 1px dashed #2A8EAC;
			text-align: center;
		}
		.logo{
			width:45px;
			height: 50px;
			margin-right: 30%
		}
		.logo2{
			width: 45px;
			height: 50px;
			float: right;
			vertical-align: middle;
		}
		.thanks{
			font-size: 15px;
		}
		header {
			width: 90%;
		}
		.linea{
			display: inline-block;
			width: 100px;
			border-bottom: 1px solid #2A8EAC;
		}
		.sangria{
			text-indent: 150px;
		}
		/* Force table to not be like tables anymore */
		 table, thead, tbody, th, td, tr {
		    font-size: 10px;
		    color: #000;
		    background-color: #fff;
		 }
		 table, td, .tramiteSol{
		  	padding-right: 4%;
		 }

		  /* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
		    position: none;
		    background-color: #000;

		}
		tbody{
		    margin-left: 0px;
		    background-color:#f2f1f6;
		    width: 100%;
		}
		
		td {
		  /* Behave  like a "row" */
		  border-bottom: 1px solid #eee;
		  padding-left: 30%;
		}
		td:before {
		  color: #000000;
		  padding-right: 5px;
		}
		/*
		Label the data
		You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before {}
		td:nth-of-type(2):before {}
		td:nth-of-type(3):before {}
			}