@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

img{max-width:100%;}
/*-- end reset --*/
.error {
    font-family: Montserrat, sans-serif!important;
    background-image: linear-gradient(to right bottom, rgba(153, 183, 234, .7),
    rgba(171, 226, 247, .4) );
    background-position: center center;
    background-attachment:fixed;
    background-size: cover; 
	
} 
/*-- main --*/ 


.Tituloerror:hover{
    /*background: none;*/
    color: #fff;
    text-decoration: none;
    
}
.banner-dott{
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
	padding-bottom: 2em;
  
}
.agileinfo-row {
    width: 65%;
    margin:0 auto;
}
/*-- top-nav --*/
.w3top-nav {
    padding-top: 2.5em;
}
.w3top-nav-left {
text-align:center;
   
}

.w3top-nav-left h1 {
    font-size: 3em;
    font-weight: 100;
    line-height: .9em;
    letter-spacing: 7px;
    font-family: Montserrat, sans-serif!important;
   
} 
.w3top-nav-right h6 {
    font-size: 1em;
    color: #fff;
    font-weight: 100;
    letter-spacing: 2px;
}
/*-- //top-nav --*/
/*-- //errortext --*/
.w3layouts-errortext{
    text-align: center;
} 
.w3layouts-errortext h2 {
    font-size: 6em;
    color: #fff;
    line-height: 1.8em;
    font-family: Montserrat, sans-serif!important;
    
}
.w3layouts-errortext h2  span {
    background: #00BCD4;
    color: #fff;
    padding: .1em 0.3em;
	-webkit-box-shadow: 0px 0px 10px 1px #000;
	-moz-box-shadow: 0px 0px 10px 1px #000; 
    box-shadow: 0px 0px 10px 1px #000;
    font-family: Montserrat, sans-serif!important;
	
}
.w3layouts-errortext h3 {
    font-size: 1.5em;
    font-weight: 500;
    border: 12px solid #00bcd4;
    display: inline-block;
    margin-top: 20px;
    
}
.w3layouts-errortext h3 a {
    font-size: 0.6em;
    color: #fff;
	font-weight: 100;
    background:#00bcd4;
    display: inline-block;
    padding: .5em 1em;
    font-family: Montserrat, sans-serif!important;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
.w3layouts-errortext h3 a:hover {
    color: #000;
    outline:none;
    text-decoration:none;
}
p.w3lstext {
    font-size: 0.9em;
    color: #fff;
    line-height: 2em;
    font-weight: 400;
    width: 65%;
}
/*-- wthree-sicons --*/ 

@media (max-width: 754px){

    .w3layouts-errortext h2 {
    font-size: 2em;
    color: #fff;
    font-family: Montserrat, sans-serif!important;
    align-content: center;
}
.w3layouts-errortext h2  span {
    background: #00BCD4;
    float: left;
    margin-left: 3%;
    color: #fff;
    width: 30%;
    height: 30%;
    -webkit-box-shadow: 0px 0px 10px 1px #000;
    -moz-box-shadow: 0px 0px 10px 1px #000; 
    box-shadow: 0px 0px 10px 1px #000;
    font-family: Montserrat, sans-serif!important;
    
}

}

